config/settings.ini
reports/
cache/
.env
.log
# Игнорировать все файлы с расширением .tmp
*.tmp
# Игнорировать все файлы с расширением .cache
*.cache
# Игнорировать все файлы с расширением .bak
*.bak
# Игнорировать кэш pip
__pycache__/
*.py[cod]
# Игнорировать настройки и кэш VS Code
.vscode/
# Игнорировать все скрытые директории кэша
.*cache*/
# Игнорировать все файлы с суффиксом "cache"
*cache*
# Игнорировать все временные файлы
*~
